#btn-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border: none;
    outline: transparent;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--white);
    font-size: 18px;
    transition: border-volor var(--timing-function);
  }
  
  #btn-up:hover {
    border-color: var(--red);
  }

  @media screen and (min-width: 768px){
    #btn-up {
    font-size: 22px;
    }
  }
  