@import url(accordion-js/dist/accordion.css);


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-me {
    padding-top: 64px;
    padding-bottom: 32px;
}

.about-me-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
}
.about-me-wrapper-text {
    border-radius: 24px;

    background-color: #242527;
    padding: 32px 32px 272px 32px;
}
.about-me-text {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}
.text-red {
    color: var(--red);
}
.text-grey {
    color: rgba(250, 250, 250, 0.4);
}

.about-me-img {
    border-radius: 24px;
}


/* ============= Accordion =========== */


.about-me-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}
.about-me-item.ac {
    padding-bottom: 20px;
    margin-top: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.title-wrap {
    display: flex;
    justify-content: space-between;
}
.btn-open-description {
    border: 1px solid rgba(250, 250, 250, 0.2);
    background: transparent;
    border-radius: 100px;
    padding: 9px;
    width: 36px;
    height: 36px;
    fill: var(--white);
}
.accordion-container .ac .ac-trigger {
    width: 36px;
    padding: 8px;
    position: static;
    border: 1px solid rgba(250, 250, 250, 0.2);
}
.icon-btn-open {
    width: 18px;
    height: 18px;

}
.about-me-list .ac.is-active>.ac-header .icon-btn-open {
    transform: rotate(180deg);
}

.about-me-item-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 24px;
}
.about-me-wrap-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ac .ac-panel .ac-text {
    color: var(--white);
    padding: 0;
}

.about-me-list-first {
    gap: 32px;
}
.about-me-img {
    width: 100%;
}
.about-me-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
}
.about-me-list-skills {
    display: flex;
    flex-wrap: wrap;
}
.about-me-item-skills {
    width: 130px;
    height: 130px;
    border-radius: 100%;
background-color: #ed3b44;
padding: 53px 27px;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;

}


/* ================ Swiper ================= */


/* ================ Tablet ================= */

@media screen and (min-width: 768px){
    .about-me {
        padding-bottom: 48px;
    }
    .about-me-wrapper-text {
        padding: 64px 64px 436px 64px;
    }

/* ============= Accordion =========== */

    .about-me-list {
        margin-bottom: 64px;
    }
    .about-me-item {
        padding-bottom: 32px;

    }
    .about-me-text {
        font-size: 38px;
        line-height: 1.05;
    }
    .about-me-wrap {
        margin-bottom: 64px;
    }
    .about-me-item-skills {
        font-size: 20px;
        }
        .about-me-list {
            gap: 32px;
        }
        .icon-btn-open {
            width: 20px;
            height: 20px;
        }
        .btn-open-description {
            width: 40px;
            height: 40px;
            padding: 10px;
        }
        .ac .ac-trigger {
            width: 40px;
            padding: 10px;
        }

/* ================ Swiper ================= */


}

/* ================ Desktop ================= */

@media screen and (min-width: 1440px) {
    .about-me {
        padding-top: 96px;
        padding-bottom: 82px;
    }

/* ============= Accordion =========== */

    .about-me-list {
        margin-bottom: 96px;
    }
    .about-me-wrap {
        flex-direction: row;
    }
    .about-me-wrapper-text {
        padding: 64px 64px 436px 64px;
    }
    .about-me-text {
        width: 552px;
}

/* ================ Swiper ================= */

}