@import url(accordion-js/dist/accordion.css);


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-me {
    padding-top: 64px;
    padding-bottom: 32px;
}

.about-me-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
}

.about-me-wrapper-text {
    border-radius: 24px;
    background-color: #242527;
    padding: 32px 32px 272px 32px;
}
.about-me-text {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}

.text-red {
    color: var(--red);
}

.text-grey {
    color: rgba(250, 250, 250, 0.4);
}

.about-me-img {
    border-radius: 24px;
}


/* ============= Accordion =========== */


.about-me-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.about-me-item.ac {
    padding-bottom: 20px;
    margin-top: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.title-wrap {
    display: flex;
    justify-content: space-between;
}

.btn-open-description.ac-trigger {
    border: 1px solid rgba(250, 250, 250, 0.2);
    background: transparent;
    border-radius: 100px;
    padding: 9px;
    width: 36px;
    height: 36px;
    fill: var(--white);
    position:static;
    outline: transparent;
}

.accordion-container .ac .ac-trigger {
    width: 36px;
    padding: 8px;
    position: static;
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.icon-btn-open {
    width: 18px;
    height: 18px;
}

.about-me-list .ac.is-active>.ac-header .icon-btn-open {
    transform: rotate(180deg);
}

.about-me-item-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
}

.about-me-wrap-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ac .ac-panel .ac-text {
    color: var(--white);
    padding: 0;
}

.about-me-list-first {
    gap: 32px;
}

.about-me-img {
    width: 100%;
}



/* ================ Swiper ================= */
.about-me-skills-wrap {
    position: relative;
}

.skills-container.swiper {
    position: static;
  width: 260px;
  height: 130px;
  margin: 0;
}

.skills-container {
     margin: 0;
}

.about-me-list-skills {
    display: flex;
    justify-content: start;
    max-width: 260px;
    padding: 0;
    margin: 0;
    transition: transform var(--timing-function);
}

.about-me-list-skills .about-me-item-skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    flex-shrink: 0;
    }

.about-me-list-skills .about-me-item-skills:first-child {
        background-color: var(--red);
        border: none;
    }

.skills-container .skills-swiper-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 88888;
        width: 28px;
        height: 28px;
    }

.skills-btn-next {
    background: transparent;
    border: none;
    color: #3b3b3b;
    padding: 0;
}

.skills-swiper-button .skills-btn-next-icon {
    width: 28px;
    height: 28px;
    stroke: #3b3b3b;
    fill: transparent;
    rotate: 180deg;
    transition: stroke var(--timing-function);
}

.skills-swiper-button:hover .skills-btn-next-icon {
    stroke: var(--white)
}

.skills-container>.skills-swiper-button-next::after {
    content: none;
}
/* ================ Tablet ================= */

@media screen and (min-width: 768px){
    .about-me {
        padding-bottom: 48px;
    }

    .about-me-wrapper-text {
        padding: 64px 64px 436px 64px;
    }

/* ============= Accordion =========== */

    .about-me-list {
        margin-bottom: 64px;
    }
    .about-me-item {
        padding-bottom: 32px;
    }
    .about-me-text {
        font-size: 38px;
        line-height: 1.05;
    }
    .about-me-wrap {
        margin-bottom: 64px;
    }
    .about-me-item-skills {
        font-size: 20px;
        }
        .about-me-list {
            gap: 32px;
        }
        .icon-btn-open {
            width: 20px;
            height: 20px;
        }
        .btn-open-description.ac-trigger {
            width: 40px;
            height: 40px;
            padding: 10px;
        }
        .ac .ac-trigger {
            width: 40px;
            padding: 10px;
        }
    

/* ================ Swiper ================= */

.skills-container.swiper {
  width: 600px;
  height: 200px;
}
.skills-container {
    width: 200px;
    height: 200px;
}
.about-me-list-skills {
    max-width: 600px;
    }
    
.about-me-list-skills .about-me-item-skills {
width: 200px;
height: 200px;
}
.skills-swiper-button .skills-btn-next-icon {
    width: 40px;
    height: 40px;
}
}

/* ================ Desktop ================= */

@media screen and (min-width: 1440px) {
    .about-me {
        padding-top: 96px;
        padding-bottom: 82px;
    }

/* ============= Accordion =========== */

    .about-me-list {
        margin-bottom: 96px;
    }
    .about-me-item>.ac-panel{
        display: flex;
        justify-content: flex-end;
    }
    .about-me-wrap-list {
        width: 612px;
    }
    .about-me-wrap {
        flex-direction: row;
    }
    .about-me-wrapper-text {
        padding: 64px 64px 436px 64px;
    }
    .about-me-text {
        width: 552px;
}

/* ================ Swiper ================= */
.about-me-skills-wrap {
    padding-left: 32px;
padding-right: 32px;
}
.skills-container.swiper {
    width: 1200px;
    height: 200px;
  }
  .skills-container {
      width: 200px;
      height: 200px;
  }
  .about-me-list-skills {
      max-width: 1200px;
      }
      .skills-container .skills-swiper-button {
        right: 32px;
    }  
}