.benefits {
    padding-top: 32px;
    padding-bottom: 32px;
}
.benefits-container {
}
.benefits-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}
.benefits-item {
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
}
.benefits-icon {
    margin-bottom: 64px;
}
.benefits-item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.benefits-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}
.benefits-btn {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
background: transparent;
padding: 18px 36px;
width: 187px;
font-size: 16px;
letter-spacing: -0.02em;
color: var(--white);
}