.benefits {
    padding-top: 32px;
    padding-bottom: 32px;
}
.benefits-container {
}
.benefits-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}
.benefits-item {
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
}
.benefits-icon {
    margin-bottom: 64px;
}
.benefits-item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}
.benefits-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}
.benefits-btn {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
background: transparent;
padding: 18px 36px;
width: 187px;
font-size: 16px;
letter-spacing: -0.02em;
color: var(--white);
transition: border var(--timing-function);
}
.benefits-btn:hover,
.benefits-btn:focus {
border: 1.2px solid rgba(250, 250, 250, 0.5);
}

@media screen and (min-width: 768px){
    .benefits {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .benefits-list{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 64px;
    }
    .benefits-item {
        width: calc((100% - 16px) / 2);
    }
}
@media screen and (min-width: 1440px){
    .benefits {
        padding-top: 82px;
        padding-bottom: 82px;
    }
    .benefits-container {
        display: flex;
        justify-content: space-between;
    }
    .benefits-title {
        margin-bottom: 0;
    }
    .benefits-list {
        width: 680px;
    }
}