/* .covers {
    background-image: url(/img/covers/cover-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 508px;
} */
/* @media screen and (min-resolution: 192dpi) {
    .covers {
  background-image: url(/img/covers/cover-mobile@2x.png);
    }   
} */

.covers {
  height: 508px;
  
    background-image: url(/img/covers/cover-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cover-container {
    /* width: 100%;
    height: auto;
    padding: 0; */
}
.cover-wrap {
    position: absolute;
  right: -800px;
  left: -400px;
  overflow: hidden;
  /* height: 508px; */
}
.cover-list {
    width: 100%;
     /* height: 8vh; */
   display: flex;
   gap: 20px;
   transform: rotate(17deg); 
   margin-bottom: 30px;
}
.cover-item {
    flex-shrink: 0;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.cover-img {
    width: 282px;
    height: 162px;
}
@keyframes marqueeLine {
    from {
      transform: translateX(-20%);
    }
    
    to {
      transform: translateX(-180%);
    }
  }
  

@media screen and (min-width: 768px){
  .covers {
    height: 960px;
      background-image: url(/img/covers/cover-tablet.png);

  }
 
}
@media screen and (min-width: 1440px){}