.covers {
  height: 508px;
  background-image: image-set(
        url(/img/covers/cover-mobile.png) 1x,
        url(/img/covers/cover-mobile@2x.png) 2x );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.covers-container {
  position: relative;
  display: flex;
  max-height: 508px;
  justify-content: center;
  overflow: hidden;
}
.cover-wrap {
  right: -1000px;
  left: -400px;
  overflow: hidden;
  height: 508px;
}
.cover-list {
    width: 100%;
   display: flex;
   gap: 20px;
   transform: rotate(17deg); 
   margin-bottom: 30px;
}
.cover-item {
    flex-shrink: 0;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.cover-img {
    width: 282px;
    height: 162px;
}
@keyframes marqueeLine {
    from {
      transform: translateX(-20%);
    }
    
    to {
      transform: translateX(-180%);
    }
  }
  

@media screen and (min-width: 768px){
  .covers {
    height: 960px;
      background-image: image-set(
        url(/img/covers/cover-tablet.png) 1x,
        url(/img/covers/cover-tablet@2x.png) 2x );
  }
  .cover-img {
    width: 544px;
    height: 314px;
}
.cover-list {
 gap: 50px;
 margin-bottom: 65px;
}
.cover-wrap {
right: -2000px;
height: 960px;
}
.covers-container {
  max-height: 960px;
}
 
}
@media screen and (min-width: 1440px){
  .cover-wrap {
    right: -2500px;
    }
}