.btn-menu {
    display: none;
}
.btn-link-order-project {
    display: none;
}
.menu-nav-list {
    display: none;
}
.header {
    position: absolute;
    top: 32px;
    left: 16px;
    right: 16px;
    background: transparent;
}

.header-container {
    position: relative;
    /* max-width: 343px; */
    margin: 0 auto;
}

.logo-wrap {
    display: flex;
    gap: 8px;
    width: 172px;
}

.logo-icon {
    fill: var(--white);
}

.btn-burger {
    position: absolute;
    top: 0;
    right: 8px;
    border: none;
  list-style: none;
  background: transparent;
    stroke: var(--white);
    transition: stroke var(--timing-function);
}
.btn-burger:hover,
.btn-burger:focus {
    stroke:#e0373f;
}

/* ============ mobile menu ============= */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: image-set(
        url(/img/header/mobile-bg.png) 1x,
        url(/img/header/mobile-bg@2x.png) 2x
    ) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow-y: auto;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* @media screen and (min-resolution: 192dpi) {
    .mobile-menu {
  background-image: url(/img/hero/hero-mobile@2x.png);
    }  
} */
.mobile-container {
    position: relative;
    max-width: 343px;
    /* margin: o auto; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 302px 138px 398px 138px; */
    /* padding: 302px 103px 64px; */
    display: flex;
    /* gap: 289px; */
     flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.btn-close-menu {
    position: absolute;
    top: 32px;
    right: 0;
    border: none;
  background: transparent;
  padding: 0px;
    stroke: var(--white);
    transition: stroke var(--timing-function);
}
.btn-close-menu:hover {
    stroke: #e0373f;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.mobile-link {
font-size: 16px;
letter-spacing: -0.02em;
text-decoration: underline;
transition: color var(--timing-function);
}

.mobile-link:hover,
.mobile-link:focus {
color: var(--red);
}

.btn-link-mobile-order-project {
    position: absolute;
    bottom: 64px;
    border: none;
    border-radius: 60px;
padding: 14px 31px;
width: 164px;
height: 45px;
color: var(--white);
font-size: 14px;
letter-spacing: -0.02em;
background-color: var(--red);
transition: background-color var(--timing-function);
}

.btn-link-mobile-order-project:hover,
.btn-link-mobile-order-project:focus {
background-color: #e0373f;;
}

@media screen and (min-width: 768px){
    .btn-burger {
        display: none;
    }
    .header-container {
        /* max-width: 768px; */
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
    }
    .btn-link-order-project{
        display: block;
        border: none;
    border-radius: 60px;
    padding: 18px 24px;
    min-width: 166px;
    height: 55px;
color: var(--white);
font-size: 16px;
letter-spacing: -0.02em;
background-color: var(--red);
transition: background-color var(--timing-function);
    }
    .btn-link-order-project:hover,
    .btn-link-order-project:focus {
        background-color: #e0373f;
    }
    .btn-menu {
        display: block;
        border: none;
font-size: 16px;
letter-spacing: -0.02em;
text-decoration: underline;
background: transparent;
text-decoration-skip-ink: none;
color: var(--white);
transition: color var(--timing-function);
    }
    .btn-menu:hover {
        color: #e0373f;
    }

    .menu-nav-list {
        position: absolute;
        top: 32px;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0);
        /* right: auto; */
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    transition: opacity var(--timing-function), visibility var(--timing-function);
    }
    .menu-nav-list.active {
    opacity: 1;
    visibility: visible;
    }
    
    .menu-nav-item {
        transition: color var(--timing-function);
    }
    .menu-nav-item:hover {
        color: #e0373f;
    }
    
}