.hero-section {
    background-image: url(/img/hero/hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
padding-top: 281px;
padding-bottom: 32px;
}
@media screen and (min-resolution: 192dpi) {
    .hero-section {
  background-image: url(/img/hero/hero-mobile@2x.png);
    }  
}
.hero-container {
    display: flex;
    flex-direction: column;
    gap: 212px;
}
.hero-title {
    width: 343px;
    font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.03em;
text-transform: uppercase;
}

.hero-list {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    max-width: 342px;
    margin-right: auto;
    margin-left: auto;
}

.hero-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 9px 8px;
max-height: 37px;
max-width: 37px;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
transition: border-color var(--timing-function);
}
.hero-item:first-child {
    padding: 9px 11px;
}

.hero-item:first-child + .hero-item {
    padding: 8px 10px;
}

.link-email {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 8px 11px;
max-width: 178px;
}

.hero-item:hover,
.hero-item:focus {
border-color: var(--white);
}

@media screen and (max-width: 374px) {
    .hero-title {
      font-size: 42px;
    }
    .hero-item {
font-size: 12px;
    }

}
  @media screen and (min-width: 768px) {
    .hero-section {
        background-image: url(/img/hero/hero-tablet.png);
        padding-top: 300px;
        padding-bottom: 32px;
        /* padding-left: 21px;
        padding-right: 32px; */
    }
    @media screen and (min-resolution: 192dpi) {
        .hero-section {
      background-image: url(/img/hero/hero-tablet@2x.png);
        }  
    }

    .hero-title {
        width: 632px;
    font-size: 90px;
    margin-bottom: 187px;
    }
    .hero-list {
        gap: 8px;
        margin-right: 0;
    }
    .hero-item {
    font-size: 16px;
    padding: 18px 16px;
    max-width: 55px;
    max-height: 55px;
    }
    .hero-item:first-child {
        padding: 18px 19px;
    }
    .hero-item:first-child + .hero-item {
        padding: 18px 18px;
    }
    .link-email {
        padding: 18px 24px;
        max-width: 223px;
        max-height: 55px;
    }
  }
  @media screen and (min-width: 1440px){
    .hero-section {
        background-image: url(/img/hero/hero.png);
    }

@media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero/hero@2x.png);
        }  
    }

    .hero-title {
        width: 1112px;
    margin: 0 146px 243px 146px;
    }
    
  }