.reviews {
    padding-top: 64px;
    padding-bottom: 32px;
}
.container {
}
.reviews-container {
}
.reviews-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.reviews-list {
    display: flex;
    gap: 16px;
}
.reviews-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
width: 344px;
height: 302px;
margin-bottom: 32px;
}
.reviews-img {
    margin-bottom: 32px;
}
.reviews-title-item {
    font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
margin-bottom: 8px;
}
.reviews-text-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}
.project-wrap-btn-arrow {
}
.btn-arrow {
}
.icon-arrow {
}
.arrow-left {
}
@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 96px;
        padding-bottom: 48px;
    }

}
@media screen and (min-width: 1440px) {
    .reviews {
        padding-top: 164px;
        padding-bottom: 82px;
    }
    .reviews-item {
        width: calc((100% - 16px * 3) / 4);
    }
}