
<!-- <section class="header">
    
<div class="container header-container">
    
    
    <div class="logo-wrap">
        <img
                class="logo-img"
                srcset="/img/header/man@2x.png 2x"
                src="/img/header/man.png"
                alt="Avatar Lloyd"
                width="80"
                height="80"
              />
    <svg class="logo-icon" width="84" height="19"><use href="/img/sprite.svg#man"></use></svg>
    </div>
    <button class="btn-menu" type="button">Menu</button>
    <button class="btn-mobile-menu-open" type="button">
    <svg class="header-mobile-menu-icon" width="28" height="28"><use href="/img/sprite.svg#burger"></use>
    </svg>
</button>
    <a class="btn-link-order-project" href="#work-together">Order the progect</a>


</div>
</section> -->

<!-- ---------mobile menu------- -->
<div class="mobile-menu">
    <button class="btn-close-menu" type="button">
    <svg class="icon-close-menu" width="28" height="28">
    <use href="/img/sprite.svg#close"></use>
</svg>
</button>
    <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a href="#about-me" class="modal-link">About me</a></li>
        <li class="mobile-menu-item"><a href="#benefits" class="modal-link">Benefits</a></li>
        <li class="mobile-menu-item"><a href="#projects" class="modal-link">Projects</a></li>
        <li class="mobile-menu-item"><a href="#faq" class="modal-link">FAQ</a></li>
    </ul>
    <a class="btn-link-mobile-order-project" href="#work-together">Order the project</a>

</div>
