<section class="projects" id="projects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="projects-wrap swiper swiper-project">
            <ul class="projects-list swiper-wrapper">
                <li class="projects-item swiper-slide">
            <div class="projects-wrap-top">
                <ul class="projects-wrap-list">
                    <li class="projects-wrap-item">#react</li>
                    <li class="projects-wrap-item">#js</li>
                    <li class="projects-wrap-item">#node.js</li>
                    <li class="projects-wrap-item">#git</li>
                </ul>
                <p class="projects-wrap-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a class="projects-btn-see-project" href="https://github.com/Lencha2005/Portfolio.git" target="_blank">See progect</a>
            </div>
            <div class="projects-wrap-bottom">
                <picture>
            <source
            srcset="
            /img/projects/project-first.jpg    1x,
            /img/projects/project-first@2x.jpg 2x
          "
              width="614"
              height="385"
              media="(min-width: 768px)"
            />
            <source
            srcset="
            /img/projects/project-first-mobile.jpg    1x,
            /img/projects/project-first-mobile@2x.jpg 2x
          "
              width="311"
              height="195"
              media="(max-width: 767px)"
            />

            <img
              class="projects-img"
              src="/img/projects/project-first-mobile.jpg"
              alt="first project"
              width="311"
              height="195"
              loading="lazy"
            />
                </picture>
            </div>
        
    </li>
    <li class="projects-item swiper-slide">
        <div class="projects-wrap-top">
            <ul class="projects-wrap-list">
                <li class="projects-wrap-item">#react</li>
                <li class="projects-wrap-item">#js</li>
                <li class="projects-wrap-item">#node.js</li>
                <li class="projects-wrap-item">#git</li>
            </ul>
            <p class="projects-wrap-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <a class="projects-btn-see-project" href="https://github.com/Lencha2005/Portfolio.git" target="_blank">See progect</a>
        </div>
        <div class="projects-wrap-bottom">
            <picture>
        <source
        srcset="
        /img/projects/project-second.jpg    1x,
        /img/projects/project-second@2x.jpg 2x
      "
          width="614"
          height="385"
          media="(min-width: 768px)"
        />
        <source
        srcset="
        /img/projects/project-second-mobile.jpg    1x,
        /img/projects/project-second-mobile@2x.jpg 2x
      "
          width="311"
          height="195"
          media="(max-width: 767px)"
        />

        <img
          class="projects-img"
          src="/img/projects/project-second-mobile.jpg"
          alt="second project"
          width="311"
          height="195"
          loading="lazy"
        />
            </picture>
        </div>
    
</li>
<li class="projects-item swiper-slide">
    <div class="projects-wrap-top">
        <ul class="projects-wrap-list">
            <li class="projects-wrap-item">#react</li>
            <li class="projects-wrap-item">#js</li>
            <li class="projects-wrap-item">#node.js</li>
            <li class="projects-wrap-item">#git</li>
        </ul>
        <p class="projects-wrap-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <a class="projects-btn-see-project" href="https://github.com/Lencha2005/Portfolio.git" target="_blank">See progect</a>
    </div>
    <div class="projects-wrap-bottom">
        <picture>
    <source
    srcset="
    /img/projects/project-third.jpg    1x,
    /img/projects/project-third@2x.jpg 2x
  "
      width="614"
      height="385"
      media="(min-width: 768px)"
    />
    <source
    srcset="
    /img/projects/project-third-mobile.jpg    1x,
    /img/projects/project-third-mobile@2x.jpg 2x
  "
      width="311"
      height="195"
      media="(max-width: 767px)"
    />

    <img
      class="projects-img"
      src="/img/projects/project-third-mobile.jpg"
      alt="third project"
      width="311"
      height="195"
      loading="lazy"
    />
        </picture>
    </div>

</li>
    
    </ul>
            <div class="project-wrap-btn-arrow">
                <button class="btn-arrow"><svg class="icon-arrow arrow-left"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
                <button class="btn-arrow"><svg class="icon-arrow"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
            </div>
        </div>
    </div>
</section>