<!-- <section class="projects" id="projects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="projects-wrap">
            <div class="projects-wrap-top">
                <ul class="projects-wrap-list">
                    <li class="projects-wrap-item">#react</li>
                    <li class="projects-wrap-item">#js</li>
                    <li class="projects-wrap-item">#node.js</li>
                    <li class="projects-wrap-item">#git</li>
                </ul>
                <p class="projects-wrap-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a class="projects-btn-see-project" href="https://github.com/Lencha2005/Portfolio.git" target="_blank">See progect</a>
            </div>
            <div class="projects-wrap-bottom">
                <picture>
            <source
              srcset="
              /img/projects/img-1-tablet.png    1x,
              /img/projects/img-1-tablet@2x.png 2x
              "
              width="614"
              height="385"
              media="(min-width: 768px)"
            />
            <source
              srcset="
              /img/projects/img-1-mobile.png    1x,
              /img/projects/img-1-mobile@2x.png 2x
              "
              width="311"
              height="195"
              media="(max-width: 767px)"
            />

            <img
              class="projects-img"
              src="/img/projects/img-1-mobile.png"
              alt="first project"
              width="311"
              height="195"
            />
                </picture>
            </div>
        </div>
            <div class="project-wrap-btn-arrow">
                <button class="btn-arrow"><svg class="icon-arrow arrow-left"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
                <button class="btn-arrow"><svg class="icon-arrow"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
            </div>
        
    </div>
</section> -->