<section class="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title"></h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <img src="" alt="" class="reviews-img">
                <h3 class="reviews-title-item"></h3>
                <p class="reviews-text-item"></p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-img">
                <h3 class="reviews-title-item"></h3>
                <p class="reviews-text-item"></p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-img">
                <h3 class="reviews-title-item"></h3>
                <p class="reviews-text-item"></p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-img">
                <h3 class="reviews-title-item"></h3>
                <p class="reviews-text-item"></p>
            </li>
        </ul>
        <div class="project-wrap-btn-arrow">
            <button class="btn-arrow"><svg class="icon-arrow arrow-left"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
            <button class="btn-arrow"><svg class="icon-arrow"><use href="/img/sprite.svg#arrow-white"></use></svg></button>
        </div>
    </div>
</section>