<section class="reviews" id="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="reviews-swiper swiper">
        <ul class="reviews-list swiper-wrapper"></ul>
        <div class="reviews-wrap-btn">
            <button class="btn-arrow review-swiper-button-prev" aria-label="prev preview"><svg class="icon-arrow"><use href="/img/sprite.svg#arrow-black"></use></svg></button>
            <button class="btn-arrow review-swiper-button-next" aria-label="next preview"><svg class="icon-arrow arrow-right"><use href="/img/sprite.svg#arrow-black"></use></svg></button>
        </div>
    </div>
    </div>
</section>